* {
    padding: 0;
    margin:0;
}

body{
    box-sizing: border-box;
    background-color: var(--color-primaria);
    color: var(--color-secundaria);
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: auto;
    width: 100%;
    height: 100%;
    padding-top: 40%;
    gap: 25px;
}

.txtoriginal{
    flex-direction: column;
    
}

.txtcrypto{
    flex-direction: column;
}

h1 {
    color: #333;
}

input[type="text"], button {
    margin: 10px 0;
    padding: 8px;
    width: 100%;
    box-sizing: border-box;
}

button {
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}