*{
    margin: 0;
    width: 100%;
    box-sizing: border-box;
    
}



body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    
}

.container {
    width: 944px;
    height: 150x;
    margin: 20px auto;
    background-color: #e9f0f7;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 150px;
}

/* Estilos para los textareas y botones */
.input-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    
    
}

.inputText {
    height: 300px;
}

.output-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 288px;
    height: 500px;
    background-color: white;
    border-radius: 20px;
    
}

.outputText {
    display: flex;
    justify-content: center;
    max-width: 230px;
    min-height: 100px;
    border: none;
    margin-bottom: 40px; 
    user-select: none;      
}

.lupita {
   display: flex;
   width: 60%;
   margin-bottom: 60px;  
} 

.copyBtn {
   display: none;
}

button {
    width: 270px;
    height: 40px;
    border-radius: 10px;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
}



button:hover {
    background-color: #0056b3;
}

/* Estilos específicos para tamaños de pantalla pequeños */
@media(max-width: 800px){

    body {
        width: 80%;
        flex-direction: column;
        justify-content: center;
    }

    .container {
        display: flex;
        flex-direction: column;
        width: 120%;
        margin-bottom: 10px;
    }

    .output-container {
        display: flex;
        flex-direction: column;
        width: 50%;
        
    }

    .button-container {
        display: flex;
        flex-direction: column;
        display: 96%;
        margin-left: 40px;
    }
    
}